<div class="navbar">
    <div class="navbar-container">
        <img src="./assets/img/logo2.png" alt="" class="navbar-img">
        <div class="navbar-content">
            <a class="navbar-item" href="#" routerLinkActive="active">Home</a>
            <a class="navbar-item" href="#talent" routerLinkActive="active">Talent</a>
            <a class="navbar-item" href="#latest-release" routerLinkActive="active">Latest release</a>
            <a class="navbar-item">Book us</a>
        </div>
    </div>
</div>